
  /* 오시는길 start */
  .location-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    overflow: hidden;
    font-family: Pretendard, sans-serif;
    color: rgba(0, 0, 0, 1);
    padding: 200px 80px 196px;
  }

  .location-container {
    display: flex;
    width: 100%;
    max-width: 100%;
    flex-direction: column;
  }

  .location-title {
    font-size: 48px;
    font-weight: 800;
    letter-spacing: 1.92px;
    text-align: center;
    white-space: nowrap;
  }

  .location-grid {
    display: flex;
    margin-top: 90px;
    width: 100%;
    align-items: start;
    gap: 40px;
    justify-content: start;
    flex-wrap: wrap;
  }

  .location-card {
    display: flex;
    min-width: 240px;
    flex-direction: column;
    font-size: 18px;
    font-weight: 400;
    justify-content: start;
    flex-grow: 1;
    width: 474px;
  }

  .location-image {
    aspect-ratio: 1.69;
    object-fit: contain;
    object-position: center;
    width: 100%;
    border-radius: 17px;
  }

  .location-details {
    display: flex;
    margin-top: 33px;
    width: 412px;
    max-width: 100%;
    flex-direction: column;
    white-space: nowrap;
  }

  .location-name {
    font-size: 32px;
    font-weight: 600;
    font-style: normal;
    font-family: Pretendard, sans-serif;
    white-space: nowrap;
  }

  .contact-row {
    display: flex;
    margin-top: 20px;
    align-items: center;
    gap: 11px;
  }

  .contact-icon {
    aspect-ratio: 1;
    object-fit: contain;
    object-position: center;
    width: 22px;
    align-self: stretch;
    margin: auto 0;
  }

  .contact-text {
    align-self: stretch;
    margin: auto 0;
    font-family: Pretendard, sans-serif;
    white-space: nowrap;
    font-style: normal;
  }