.footer {
  background-color: #1a1f27;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding: 121px 50px;
}

.footer-top {
  display: flex;
  width: 100%;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer-links {
  display: flex;
  align-items: center;
  gap: 40px 180px;
  color: #fff;
  text-align: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin: auto 0;
  font: 600 24px Pretendard, sans-serif;
}

.terms-link {
  color: #fff;
  text-decoration: none;
}

.privacy-link {
  color: #fff;
  text-decoration: none;
}

.terms-link:hover {
  color: var(--dark-gray, #696969);
}



.privacy-link:hover {
  color: var(--dark-gray, #696969);
}

.terms-link:hover {
  color: var(--dark-gray, #696969);

}


.social-icons {
  display: flex;
  align-items: center;
  gap: 8px;
}

.social-icon {
  border-radius: 24px;
  background-color: #555c68;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 7px;
}


.social-icon img {
  width: 32px;
  height: 32px;
}


.social-icon:nth-child(1):hover img {
  content: url('static/Frame\ 58.svg');
  width: 48px;
  height: 48px;
}

.social-icon:nth-child(2):hover img {
  content: url('static/Frame\ 57.svg');
  width: 50px;
  height: 50px;
}

.social-icon:nth-child(3):hover img {
  content: url('static/Frame\ 56.svg');
  width: 48px;
  height: 48px;
}

.social-icon:nth-child(4):hover img {
  content: url('static/Frame\ 55.svg');
  width: 48px;
  height: 48px;
}

.divider {
  background-color: var(--dark-gray, #696969);

  height: 1px;
  margin: 25px 0;
  width: 100%;
}

.footer-bottom {
  display: flex;
  margin-top: 45px;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: space-between;
}

.company-info {
  color: #fff;
  font: 500 16px/1.5 Pretendard, sans-serif;
}

.company-logo {
  width: 128px;
  margin-top: 37px;
}

.contact-link {
  color: #fff;
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

@media (max-width: 331px) {
  .footer {
    padding: 100px 20px;
  }

  .footer-top,
  .divider,
  .footer-bottom,
  .company-info {
    max-width: 100%;
  }

  .footer-bottom {
    margin: 40px 8px 0 0;
  }
}