/* 모바일 가로, 테블릿 세로(해상도 ~479px) */
@media all and (max-width:479px){

  /* intro start */

  .hero-section {
    display: flex;
    max-width: 393px;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    padding: 96px 16px;
    margin-top: 96px;
    margin-bottom: 96px;
  }

  .hero-content {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
  }


  .hero-title {
    color: rgba(255, 85, 32, 1);
    font: 700 32px/45px Pretendard, sans-serif;
    text-transform: uppercase;
  }

  .hero-description {
    color: rgba(136, 142, 149, 1);
    font: 500 16px/24px Pretendard, sans-serif;
    margin-top: 32px;
  }

  .download-buttons {
    align-self: start;
    display: flex;
    margin-top: 32px;
    align-items: center;
    gap: 14px;
  }

  .store-button {
    border-radius: 6px;
    background-color: rgba(70, 78, 97, 1);
    display: flex;
    align-items: center;
    gap: 5px;
    justify-content: center;
    padding: 9px 18px;
  }

  .store-icon-wrapper {
    display: flex;
    min-height: 18px;
    align-items: center;
    width: 18px;
    padding: 2px;
  }

  .store-icon {
    object-fit: contain;
    object-position: center;
    width: 13px;
  }

  .store-text {
    color: rgba(255, 255, 255, 1);
    text-align: center;
    font: 600 10px Pretendard, sans-serif;
  }

  .hero-image {
    aspect-ratio: 0.9;
    object-fit: contain;
    object-position: center;
    width: 288px;
    align-self: center;
    max-width: 100%;
  }

  /* intro end */

  /* section 1 start */
  .features-section {
    display: flex;
    max-width: 393px;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    padding: 96px 16px;
    margin-top: 96px;
  }

  .features-container {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
  }

  .content-wrapper {
    display: flex;
    width: 100%;
    flex-direction: column;
    font-family: Pretendard, sans-serif;
    justify-content: start;
  }

  .feature-title {
    color: rgba(0, 0, 0, 1);
    font-size: 32px;
    font-weight: 700;
    line-height: 48px;
  }

  .feature-description {
    color: rgba(136, 142, 149, 1);
    font: 500 16px/24px Pretendard, sans-serif;
    margin-top: 32px;
  }

  .images-container {
    border-radius: 0;
    align-self: center;
    display: flex;
    margin-top: 64px;
    width: 287px;
    max-width: 100%;
    align-items: flex-start;
    gap: 20px;
    justify-content: space-between;
  }


  .feature-image {
    aspect-ratio: 0.47;
    object-fit: contain;
    object-position: center;
    align-self: stretch;
  }

  /* section 1 end */

  /* section 2 start */

  .passport-section {
    display: flex;
    max-width: 393px;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    padding: 96px 16px;
    margin-top: 96px;
    margin-bottom: 150px;
  }

  .content-container {
    display: block;
    width: 100%;
    flex-direction: column;
    font-family: Pretendard, sans-serif;
    justify-content: start;
  }

  .heading {
    color: rgba(0, 0, 0, 1);
    font-size: 32px;
    font-weight: 700;
    line-height: 48px;
  }

  .description {
    color: rgba(136, 142, 149, 1);
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    margin-top: 32px;
  }

  .image-container {
    display: block;
    flex-direction: column;
    align-self: center;
    position: relative;
    aspect-ratio: 0.498;
    margin-top: 64px;
    min-height: 329px;
    width: 164px;
    max-width: 100%;
    align-items: center;
    gap: 8px;
    justify-content: center;
    padding: 7px 8px;
  }

  .background-image {
    position: absolute;
    inset: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
  }

  .passport-image {
    aspect-ratio: 0.47;
    object-fit: contain;
    object-position: center;
    align-self: stretch;
    margin: auto 0;
  }


  /* section 2 end */


  /* section 3 start */
  .payment-section {
    display: flex;
    max-width: 393px;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    padding: 96px 16px;
    margin-top: 96px;
  }

  .payment-container {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
  }

  .content-wrapper {
    display: flex;
    width: 100%;
    flex-direction: column;
    font-family: Pretendard, sans-serif;
    justify-content: start;
  }

  .main-title {
    color: rgba(0, 0, 0, 1);
    font-size: 32px;
    font-weight: 700;
    line-height: 48px;
  }

  .payment-description {
    color: rgba(136, 142, 149, 1);
    font: 500 16px/24px Pretendard, sans-serif;
    margin-top: 32px;
  }

  .images-section {
    border-radius: 0;
    align-self: center;
    display: flex;
    margin-top: 64px;
    width: 287px;
    max-width: 100%;
    align-items: flex-start;
    gap: 20px;
    justify-content: space-between;
  }

  .image-column {
    aspect-ratio: 0.5;
    object-fit: contain;
    object-position: center;
    width: 133px;
    border-radius: 0;
    align-self: end;
    margin-top: 49px;
    max-width: 100%;
  }

  .image-column-secondary {
    display: flex;
    flex-direction: column;
    align-self: start;
    position: relative;
    aspect-ratio: 0.496;
    width: 133px;
    justify-content: center;
    padding: 7px;
  }

  .background-image {
    position: absolute;
    inset: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
  }

  .overlay-image {
    aspect-ratio: 0.46;
    object-fit: contain;
    object-position: center;
    width: 100%;
    border-radius: 15px;
  }

  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
  }


  /* section 3 end */

  /* section 4 start */
  .travel-section {
    display: flex;
    max-width: 393px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding: 96px 0;
    margin-top: 96px;
  }

  .travel-container {
    display: flex;
    width: 297px;
    max-width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .travel-heading {
    color: rgba(0, 0, 0, 1);
    font-size: 32px;
    font-weight: 700;
    line-height: 48px;
    text-align: center;
    white-space: normal;
  }

  .highlight-text {
    color: rgba(255, 85, 32, 1);
    font-size: 32px;
    font-weight: 700;
  }

  .travel-image {
    aspect-ratio: 1.78;
    object-fit: contain;
    object-position: center;
    width: 100%;
    margin-top: 64px;
  }

  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    clip: rect(0, 0, 0, 0);
    border: 0;
  }



  /* section 4 end */

  /* section 5 start */
  .certificate-section {
    display: flex;
    max-width: 393px;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    padding: 96px 0;
    margin-top: 96px;
  }

  .certificate-wrapper {
    display: flex;
    width: 350px;
    max-width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .certificate-text-content {
    display: flex;
    width: 100%;
    flex-direction: column;
    font-family: Pretendard, sans-serif;
    color: rgba(0, 0, 0, 1);
    text-align: center;
    justify-content: start;

  }

  .certificate-subtitle {
    font-size: 16px;
    font-weight: 400;
  }

  .certificate-title {
    color: rgba(0, 0, 0, 1);
    font-size: 32px;
    font-weight: 700;
    line-height: 48px;
    text-align: center;
    white-space: normal;
  }

  .certificate-image-container {
    border-radius: 9px;
    align-self: center;
    display: flex;
    margin-top: 64px;
    width: 262px;
    max-width: 100%;
    gap: 20px;
    justify-content: center;
    flex-wrap: nowrap;
  }

  .certificate-image-left {
    aspect-ratio: 0.7;
    object-fit: contain;
    object-position: center;
    width: 120px;
    border-radius: 9px;
    box-shadow: 4px 2px 10px 2px rgba(0, 0, 0, 0.25);
    max-width: 100%;
  }

  .certificate-image-right {
    aspect-ratio: 0.7;
    object-fit: contain;
    object-position: center;
    width: 120px;
    border-radius: 9px;
    box-shadow: 4px 2px 10px 2px rgba(0, 0, 0, 0.25);
    max-width: 100%;
  }

  /* section 5 end */

  /* section 6 start */
  .earth-section {
    display: flex;
    padding: 82px 0 0;
    flex-direction: column;
    overflow: hidden;
    color: #fff;
    text-align: center;
    width: 100%;
    margin: 0 auto;
    margin-top: 96px;
  }

  .earth-content {
    position: relative;
    display: flex;
    min-height: 600px;
    width: 100%;
    background-color: #60a5ff;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }

  .earth-image {
    aspect-ratio: auto;
    object-position: center;
    position: absolute;
    z-index: 0;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    height: 213px;
  }

  .earth-title {
    align-self: stretch;
    width: 313px;
    position: absolute;
    gap: 7px;
    left: 50%;
    transform: translateX(-50%);
    padding: 2px;
    font-size: 24px;
    font-weight: 700;
    line-height: 48px;
    text-align: center;
    white-space: normal;
    top: 20%;
    /* 상단에서 20% 위치에 배치 */
    margin-top: -20px;
    /* 세부 미세 조정 */
  }


  /* section 6 end */

  /* section 7 start */

  .partners-section {
    display: flex;
    max-width: 393px;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    margin: 0 auto;
    padding: 96px 0;
    margin-top: 96px;
  }

  .partners-title {
    color: rgba(0, 0, 0, 1);
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    line-height: 48px;
  }

  .partners-grid {
    display: flex;
    margin-top: 70px;
    align-items: center;
    gap: 6px;
    justify-content: center;
  }

  .partners-column-1 {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    width: 72px;
    margin: auto 0;
  }

  .partners-column-2 {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 66px;
    margin: auto 0;
  }

  .partners-column-3 {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 79px;
    margin: auto 0;
  }

  .partners-column-4 {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    width: 59px;
    margin: auto 0;
  }

  .partners-column-5 {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    width: 56px;
    margin: auto 0;
  }

  .logo-pair {
    display: flex;
    margin-top: 19px;
    gap: 2px;
  }

  .partner-logo {
    object-fit: contain;
    object-position: center;
  }

  .partner-logo {
    width: 72px;
    aspect-ratio: 2.88;
  }

  .partner-logo-2 {
    width: 68px;
    aspect-ratio: 3.58;
    margin-top: 20px;
  }

  .partner-logo-3 {
    width: 55px;
    aspect-ratio: 2.62;
    margin-top: 21px;
  }

  .partner-logo-4 {
    width: 67px;
    aspect-ratio: 6.71;
    margin-top: 23px;
  }

  .partner-logo-5 {
    width: 26px;
    aspect-ratio: 1.63;
    align-self: center;
    margin-top: 27px;
  }

  .partner-logo-6 {
    width: 37px;
    aspect-ratio: 1;
  }

  .partner-logo-7 {
    width: 39px;
    aspect-ratio: 2.6;
    margin-top: 18px;
  }

  .partner-logo-8 {
    width: 47px;
    aspect-ratio: 2.35;
    margin-top: 22px;
  }

  .partner-logo-9 {
    width: 48px;
    aspect-ratio: 4;
    margin-top: 22px;
  }

  .partner-logo-10 {
    width: 100%;
    aspect-ratio: 2.68;
    align-self: stretch;
    margin-top: 20px;
  }

  .partner-logo-11 {
    width: 24px;
    aspect-ratio: 1.04;
  }

  .partner-logo-12 {
    width: 100%;
    aspect-ratio: 3;
    align-self: stretch;
    margin-top: 18px;
  }

  .partner-logo-13 {
    width: 48px;
    aspect-ratio: 3.42;
    margin-top: 21px;
  }

  .partner-logo-14 {
    width: 45px;
    aspect-ratio: 1.67;
    margin-top: 19px;
  }

  .partner-logo-15 {
    width: 100%;
    aspect-ratio: 2.63;
    align-self: stretch;
    margin-top: 11px;
  }

  .partner-logo-16 {
    width: 59px;
    aspect-ratio: 4.22;
  }

  .partner-logo-17 {
    width: 55px;
    aspect-ratio: 1.77;
    margin-top: 21px;
  }

  .partner-logo-18 {
    width: 52px;
    aspect-ratio: 2.08;
    margin-top: 10px;
  }

  .partner-logo-19 {
    width: 23px;
    aspect-ratio: 1.77;
  }

  .partner-logo-20 {
    width: 23px;
    aspect-ratio: 1.77;
  }

  .partner-logo-21 {
    width: 56px;
    aspect-ratio: 2.95;
    margin-top: 23px;
  }

  .partner-logo-22 {
    width: 38px;
    aspect-ratio: 2.53;
  }

  .partner-logo-23 {
    width: 56px;
    aspect-ratio: 3.5;
    margin-top: 28px;
  }

  .partner-logo-24 {
    width: 56px;
    aspect-ratio: 3.5;
    margin-top: 18px;
  }

  .partner-logo-25 {
    width: 52px;
    aspect-ratio: 2.26;
    margin-top: 23px;
  }

  .partner-logo-26 {
    width: 48px;
    aspect-ratio: 1.92;
    margin-top: 12px;
  }

  /* section 7 end */


  /* section 8 start */

  .info-app-container {
    display: flex;
    max-width: 393px;
    flex-direction: column;
    overflow: hidden;
    justify-content: center;
    margin: 0 auto;
    padding: 48px 0;
  }

  .info-content-wrapper {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
  }

  .info-content-inner {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    padding: 0 16px;
  }

  .info-logo {
    aspect-ratio: 3.09;
    object-fit: contain;
    object-position: center;
    width: 111px;
    max-width: 100%;
  }

  .info-hero-text {
    color: rgba(0, 0, 0, 1);
    align-self: stretch;
    margin-top: 24px;
    font: 700 24px/36px Pretendard, sans-serif;
  }

  .info-highlight-text {
    color: rgba(255, 85, 32, 1);
  }

  .info-download-buttons {
    display: flex;
    margin-top: 24px;
    align-items: center;
    gap: 12px;
    justify-content: start;
    flex-direction: row;
  }

  .info-store-button {
    border-radius: 5px;
    background-color: rgba(70, 78, 97, 1);
    align-self: stretch;
    display: flex;
    align-items: center;
    gap: 4px;
    justify-content: center;
    margin: auto 0;
    padding: 8px 16px;
    width: 100px;
  }

  .info-store-icon-wrapper {
    align-self: stretch;
    display: flex;
    min-height: 16px;
    align-items: center;
    gap: 2px;
    justify-content: start;
    width: 16px;
    margin: auto 0;
    padding: 2px;
  }

  .info-store-icon {
    aspect-ratio: 0.92;
    object-fit: contain;
    object-position: center;
    width: 12px;
    align-self: stretch;
    margin: auto 0;
  }

  .info-store-text {
    color: rgba(255, 255, 255, 1);
    text-align: center;
    align-self: stretch;
    margin: auto 0;
    font: 600 9px Pretendard, sans-serif;
    white-space: nowrap;
  }

  .info-app-preview {
    aspect-ratio: 0.99;
    object-fit: contain;
    object-position: center;
    width: 262px;
    align-self: center;
    margin-top: 64px;
    max-width: 100%;
  }

  /* section 8 end */


}


/* 테블릿 세로(해상도 768px ~ 1023px) */
@media screen and (min-width: 768px) and (max-width: 1023px){

  /* main intro start */
  .hero-section {
    display: flex;
    width: 100%;
    align-items: flex-start;
    /* 요소를 위쪽에 정렬 */
    justify-content: space-between;
    /* content와 image 간격 유지 */
    flex-wrap: wrap;
    margin: 0 auto;
    padding: 60px 72px;
    /* 패딩을 줄여서 헤더 바로 밑으로 이동 */
    box-sizing: border-box;
    /* 패딩이 요소 크기에 포함 */
    margin-bottom: 96px;
  }

  .hero-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /* 위에서부터 정렬 */
    margin-top: 126px;
    flex: 1;
  }

  .hero-title {
    display: flex;
    width: 100%;
    flex-direction: column;
    font-family: Pretendard, sans-serif;
    justify-content: start;
  }

  .hero-title {
    color: rgb(255, 85, 32);
    font: 700 28px/39px Pretendard, sans-serif;
    text-transform: uppercase;
  }

  .hero-description {
    color: rgb(136, 142, 149);
    font: 500 16px/24px Pretendard, sans-serif;
    margin-top: 32px;
  }

  .download-buttons {
    align-self: start;
    display: flex;
    margin-top: 32px;
    align-items: center;
    gap: 14px;
  }

  .store-button {
    border-radius: 6px;
    background-color: rgb(70, 78, 97);
    display: flex;
    align-items: center;
    gap: 5px;
    justify-content: center;
    padding: 9px 18px;
  }

  .store-icon {
    display: flex;
    min-height: 18px;
    align-items: center;
    width: 18px;
    padding: 2px;
  }

  .store-icon-wrapper {
    border-radius: 6px;
    background-color: rgb(70, 78, 97);
    display: flex;
    align-items: center;
    gap: 5px;
    justify-content: center;
    padding: 9px 18px;
  }

  .hero-image {
    object-fit: contain;
    object-position: center;
    width: 300px;
    /* 이미지 크기 조정 */
    align-self: flex-start;
    /* 이미지도 위쪽에 정렬 */
    margin-top: 126px;
  }

  /* main intro end */

  /* section 1 start */

  .features-section {
    display: flex;
    max-width: 834px;
    align-items: center;
    gap: 40px 86px;
    width: 834px;
    justify-content: center;
    margin: 0 auto;
    padding: 0 85px;
    margin-bottom: 96px;
  }

  .features-container {
    display: flex;
    max-width: 100%;
    align-items: center;
    gap: 40px 80px;
    justify-content: space-between;
    flex-wrap: nowrap;
  }

  .image-container {
    aspect-ratio: 0.5;
    object-fit: cover;
    object-position: center;
    width: 165px;
    align-self: stretch;
    min-height: 330px;
    align-items: center;
    gap: 8px;
    justify-content: start;
    margin: auto 0;
    padding: 10px 8px;
  }

  .content-wrapper {
    align-self: stretch;
    display: flex;
    min-width: 240px;
    flex-direction: column;
    font-family: Pretendard, sans-serif;
    justify-content: start;
    margin: auto 0;
  }

  .feature-title {
    color: rgba(0, 0, 0, 1);
    font-size: 28px;
    font-weight: 700;
    line-height: 42px;
    white-space: nowrap;
  }

  .feature-description {
    color: rgba(136, 142, 149, 1);
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    margin-top: 52px;
    white-space: nowrap;
  }


  /* section 1 end */

  /* section 2 start */
  .passport-section {
    display: flex;
    max-width: 834px;
    align-items: center;
    gap: 40px 86px;
    width: 834px;
    justify-content: center;
    margin: 0 auto;
    padding: 0 72px;
    margin-bottom: 96px;
    max-width: 1200px;
  }

  .passport-container {
    display: flex;
    max-width: 100%;
    align-items: center;
    gap: 40px 100px;
    justify-content: space-between;
    flex-wrap: nowrap;
  }

  .content-container {
    align-self: stretch;
    display: flex;
    min-width: 240px;
    flex-direction: column;
    font-family: Pretendard, sans-serif;
    justify-content: center;
    flex-grow: 1;
    width: 324px;
    margin: auto 0;
  }

  .heading {
    color: rgba(0, 0, 0, 1);
    font-size: 28px;
    font-weight: 700;
    line-height: 42px;
    white-space: nowrap;
  }

  .description {
    color: rgba(136, 142, 149, 1);
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    margin-top: 32px;
    white-space: nowrap;
  }

  .privacy-image {
    aspect-ratio: 0.5;
    object-fit: cover;
    object-position: center;
    width: 164px;
    align-self: stretch;
    min-height: 329px;
    align-items: center;
    gap: 8px;
    justify-content: start;
    margin: auto 0;
    padding: 7px 8px;
  }

  .background-image {
    position: absolute;
    inset: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
  }

  .passport-image {
    aspect-ratio: 0.47;
    object-fit: contain;
    object-position: center;
    align-self: stretch;
    margin: auto 0;
  }


  /* section 2 end */


  /* section 3 start */
  .payment-section {
    display: flex;
    max-width: 834px;
    align-items: center;
    gap: 40px 86px;
    justify-content: center;
    margin: 0 auto;
    padding: 0 72px;
    margin-bottom: 96px;
  }

  .payment-container {
    display: flex;
    width: 1200px;
    max-width: 100%;
    align-items: center;
    gap: 40px 100px;
    justify-content: space-between;
    flex-wrap: nowrap;
  }


  .content-wrapper {
    align-self: stretch;
    display: flex;
    min-width: 240px;
    flex-direction: column;
    font-family: Pretendard, sans-serif;
    justify-content: start;
    flex-grow: 1;
    width: 266px;
    margin: auto 0;
  }

  .main-title {
    color: rgba(0, 0, 0, 1);
    font-size: 28px;
    font-weight: 700;
    line-height: 42px;
    white-space: nowrap;
  }

  .payment-description {
    color: rgba(136, 142, 149, 1);
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    margin-top: 32px;
    white-space: nowrap;
  }

  .image-section {
    border-radius: 0;
    align-self: stretch;
    display: flex;
    min-width: 240px;
    align-items: flex-start;
    gap: 21px;
    flex-grow: 1;
    width: 230px;
    margin: auto 0;
  }

  .privacy-image {
    aspect-ratio: 0.5;
    object-fit: contain;
    object-position: center;
    width: 133px;
    border-radius: 0;
    align-self: end;
    margin-top: 49px;
    max-width: 100%;
  }

  .image-wrapper {
    display: flex;
    flex-direction: column;
    align-self: start;
    position: relative;
    aspect-ratio: 0.496;
    justify-content: center;
    padding: 7px;
  }

  .background-image {
    position: absolute;
    inset: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
  }

  .overlay-image {
    aspect-ratio: 0.46;
    object-fit: contain;
    object-position: center;
    width: 100%;
    border-radius: 15px;
  }


  /* sectioin 3 end */


  /* section 4 start */
  .travel-section {
    display: flex;
    max-width: 834px;
    align-items: center;
    gap: 40px 86px;
    justify-content: center;
    margin: 0 auto;
    padding: 0 72px;
    margin-bottom: 96px;
  }

  .travel-container {
    display: flex;
    width: 1200px;
    max-width: 100%;
    align-items: center;
    gap: 40px 100px;
    justify-content: space-between;
    flex-wrap: nowrap;
  }


  .travel-heading {
    color: rgba(0, 0, 0, 1);
    text-align: center;
    font: 700 28px/42px Pretendard, sans-serif;
  }

  .highlight-text {
    color: rgba(255, 85, 32, 1);
    font: 700 28px/42px Pretendard, sans-serif;
  }

  .travel-image {
    aspect-ratio: 1.78;
    object-fit: contain;
    object-position: center;
    margin-top: 64px;
    max-width: 100%;
  }


  /* section 4 end */


  /* section 5 start */


  .certificate-section {
    display: flex;
    max-width: 834px;
    align-items: center;
    gap: 40px 86px;
    justify-content: center;
    margin: 0 auto;
    padding: 0 72px;
    margin-bottom: 96px;
  }

  .certificate-wrapper {
    display: flex;
    width: 1200px;
    max-width: 100%;
    align-items: center;
    gap: 40px 100px;
    justify-content: space-between;
    flex-wrap: nowrap;
  }

  .certificate-text-content {
    display: flex;
    width: 100%;
    flex-direction: column;
    font-family: Pretendard, sans-serif;
    color: rgba(0, 0, 0, 1);
    text-align: center;
    justify-content: start;
  }

  .certificate-subtitle {
    font-size: 24px;
    font-weight: 400;
  }

  .certificate-title {
    font-size: 28px;
    font-weight: 700;
    line-height: 42px;
    align-self: center;
    margin: 4px 0 0;
  }

  .certificate-image-container {
    border-radius: 9px;
    align-self: center;
    display: flex;
    object-fit: cover;
    margin-top: 64px;
    max-width: 100%;
    gap: 20px;
    justify-content: center;
    flex-wrap: nowrap;
  }

  .certificate-image-left {
    aspect-ratio: 0.7;
    object-fit: contain;
    object-position: center;
    width: 230px;
    border-radius: 9px;
    box-shadow: 4px 2px 10px 2px rgba(0, 0, 0, 0.25);
    max-width: 100%;
    flex-grow: 1;
  }

  .certificate-image-right {
    aspect-ratio: 0.7;
    object-fit: contain;
    object-position: center;
    width: 230px;
    border-radius: 9px;
    box-shadow: 4px 2px 10px 2px rgba(0, 0, 0, 0.25);
    max-width: 100%;
    flex-grow: 1;
  }

  /* section 5 end */



  /* section 6 start */

  .earth-section {
    display: flex;
    padding: 87px 0 0;
    flex-direction: column;
    overflow: hidden;
    background-color: #60a5ff;
    margin: 0 auto;
  }

  .earth-content {
    position: relative;
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin: 0 auto;
  }


  .earth-image {
    aspect-ratio: 2.81;
    object-fit: cover;
    width: 130%;
    object-position: center bottom;
  }

  .earth-title {
    align-self: stretch;
    width: 313px;
    position: absolute;
    gap: 7px;
    left: 50%;
    transform: translateX(-50%);
    padding: 2px;
    font-size: 24px;
    font-weight: 700;
    line-height: 48px;
    text-align: center;
    white-space: normal;
    top: 20%;
    /* 상단에서 20% 위치에 배치 */
    margin-top: -20px;
    /* 세부 미세 조정 */
  }


  /* section 6 end */



  /* section 7 start */

  .partners-section {
    display: flex;
    max-width: 1200px;
    flex-direction: column;
    align-items: center;
    color: rgba(0, 0, 0, 1);
    text-align: center;
    justify-content: center;
    margin: 0 auto;
    font: 700 28px/42px Pretendard, sans-serif;
  }

  .partners-image {
    aspect-ratio: 2.22;
    object-fit: contain;
    object-position: center;
    width: 710px;
    margin-top: 70px;
    max-width: 100%;
  }

  .partners-title {
    font-size: 28px;
    font-weight: 700;
    line-height: 42px;
    align-self: center;
    margin: 4px 0 0;
  }

  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
  }


  /* section 7 end */


  /* section 8 start */
  .info-app-container {
    display: flex;
    width: 100%;
    align-items: center;
    gap: 24px;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
  }

  .info-content-inner {
    align-self: stretch;
    display: flex;
    min-width: 240px;
    align-items: start;
    justify-content: center;
    flex-grow: 1;
    width: 368px;
    padding: 16px;
  }

  .info-logo {
    aspect-ratio: 3.09;
    object-fit: contain;
    object-position: center;
    width: 111px;
    max-width: 100%;
  }

  .info-hero-text {
    color: #000;
    align-self: stretch;
    margin: 24px 0;
    font: 700 28px/42px Pretendard, sans-serif;
  }

  .info-highlight-text {
    color: #FF5520;
  }

  .info-download-buttons {
    display: flex;
    align-items: center;
    gap: 12px;
    justify-content: start;
  }

  .info-store-button {
    border-radius: 5px;
    background-color: #464E61;
    display: flex;
    align-items: center;
    gap: 4px;
    justify-content: center;
    padding: 8px 16px;
    cursor: pointer;
  }

  .info-store-icon-wrapper {
    display: flex;
    min-height: 16px;
    align-items: center;
    width: 16px;
    padding: 2px;
  }

  .info-store-icon {
    aspect-ratio: 0.92;
    object-fit: contain;
    object-position: center;
    width: 12px;
  }

  .info-store-text {
    color: #FFF;
    text-align: center;
    font: 600 9px Pretendard, sans-serif;
  }

  .info-app-preview {
    aspect-ratio: 0.98;
    object-fit: contain;
    object-position: center;
    width: 210px;
    align-self: stretch;
    min-width: 240px;
    flex-grow: 1;
    margin: auto 0;
  }


  /* section 8 end */













}