@media screen and (max-width: 981px) {

    .auth-container {
        display: flex;
        margin-top: 201px;
        min-height: 420px;
        width: 100%;
        flex-direction: column;
        align-items: center;
        font-family: Pretendard, sans-serif;
        justify-content: start;
    }

    .auth-wrapper {
        display: flex;
        min-height: 176px;
        width: 100%;
        flex-direction: column;
        justify-content: start;
        padding: 0 16px;
    }

    .auth-title {
        color: rgba(0, 0, 0, 1);
        font-size: 32px;
        font-weight: 700;
        line-height: 48px;
    }

    .auth-description {
        color: rgba(136, 142, 149, 1);
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        margin-top: 32px;
    }

    .auth-background {
        aspect-ratio: 1.5;
        object-fit: contain;
        object-position: center;
        width: 242px;
        margin-top: 64px;
        max-width: 100%;
    }

    .payment-section {
        display: flex;
        max-width: 100%;
        width: 360px;
        flex-direction: column;
        align-items: center;
    }

    .payment-content {
        display: flex;
        width: 100%;
        flex-direction: column;
    }

    .payment-title {
        color: rgba(255, 85, 32, 1);
        font: 600 16px/1.5 sans-serif;
    }

    .payment-label {
        display: flex;
        margin: 10px 0 0;
        width: 100%;
        flex-direction: column;
    }


    .payment-description {
        color: rgba(136, 142, 149, 1);
        font: 400 16px/24px sans-serif;
        margin: 26px 0 0;
    }

    .payment-image {
        aspect-ratio: 1.07;
        object-fit: contain;
        width: 193px;
        margin: 64px 0 0;
        max-width: 100%;
    }

    .visually-hidden {
        position: absolute;
        width: 1px;
        height: 1px;
        padding: 0;
        margin: -1px;
        overflow: hidden;
        clip: rect(0, 0, 0, 0);
        border: 0;
    }



    .services-container {
        padding: 100px 20px;
    }

    .services-title {
        font-size: 40px;
        line-height: 67px;
        white-space: normal;
    }

    .features-grid {
        margin-top: 40px;
    }
}


.block-pay-container {
    background-color: rgba(255, 85, 32, 1);
    display: flex;
    margin-top: 199px;
    min-height: 614px;
    width: 100%;
    flex-direction: column;
    font-family: Pretendard, sans-serif;
    color: rgba(255, 255, 255, 1);
    text-align: center;
    justify-content: center;
}

.content-wrapper {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: start;
}

.subtitle {
    font-size: 16px;
    font-weight: 500;
}

.main-title {
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    align-self: center;
    margin-top: 8px;
}

.hero-image {
    aspect-ratio: 1.39;
    object-fit: contain;
    object-position: center;
    width: 294px;
    align-self: center;
    margin-top: 64px;
    max-width: 100%;
}