/* 모바일 가로, 테블릿 세로(해상도 ~479px) */
@media all and (max-width:767px) {


    /* section 1 start */

    .service-guide {
        display: flex;
        min-width: 375px;
        flex-direction: column;
        align-items: center;
        justify-content: start;
        margin: 0 auto;
        padding: 64px 0;
        margin-bottom: 180px;
    }

    .image-gallery {
        order: 2;
        min-width: 252px;
    }

    .content-section {
        order: 1;
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: start;
        justify-content: start;
        padding: 43px 16px;
        margin-left: 0px;

    }

    .service-title {
        font-size: 32px;
        color: rgba(0, 0, 0, 1);
        font-weight: 700;
        line-height: 48px;
    }

    .highlight-text {
        color: rgba(255, 85, 32, 1);
    }

    .download-button {
        border-radius: 4px;
        background-color: rgba(240, 240, 240, 1);
        margin-top: 32px;
        font-size: 12px;
        color: rgba(30, 30, 30, 1);
        font-weight: 600;
        padding: 8px 20px;
        cursor: pointer;
    }

    .facial-recognition-image {
        aspect-ratio: 0.83;
        object-fit: contain;
        object-position: center;
        width: 253px;
        margin-top: 45px;
        max-width: 100%;
    }

    .visually-hidden {
        position: absolute;
        width: 1px;
        height: 1px;
        padding: 0;
        margin: -1px;
        overflow: hidden;
        clip: rect(0, 0, 0, 0);
        border: 0;
    }

    /* section 1 end */

    /* section 2 start */

    .identity-verification {
        display: flex;
        min-width: 375px;
        flex-direction: column;
        align-items: center;
        justify-content: start;
        margin: 0 auto;
        padding: 180px 0;
    }

    .text-content {
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: start;
        justify-content: start;
        padding: 0 16px;
        margin-left: 0px;
    }

    .verification-badge {
        color: rgba(255, 85, 32, 1);
        font-size: 16px;
        font-weight: 700;
    }

    .text-wrapper {
        display: flex;
        margin-top: 8px;
        width: 100%;
        flex-direction: column;
        justify-content: start;
    }

    .verification-title{
        color: rgba(255, 85, 32, 1);
        font-size: 16px;
        font-weight: 600;
        align-self: stretch;
    }

    .main-heading {
        color: rgba(0, 0, 0, 1);
        font-size: 32px;
        font-weight: 700;
        line-height: 48px;
    }

    .description {
        color: rgba(136, 142, 149, 1);
        font-size: 16px;
        font-weight: 400;
        margin-top: 32px;
    }

    .images-grid {
        align-items: center;
        min-width: 252px;
    }

    .id-image {
        aspect-ratio: 0.83;
        object-fit: contain;
        object-position: center;
        margin-top: 83px;
        width: 257px;
        max-width: 100%;
    }

    /* section 2 end */

    /* section 3 start */
    .auth-container {
        display: flex;
        min-width: 375px;
        flex-direction: column;
        align-items: center;
        font-family: Pretendard, sans-serif;
        justify-content: start;
        margin: 0 auto;
        padding: 180px 16px;
    }

    .auth-wrapper {
        display: flex;
        margin: 10px 0 0;
        width: 100%;
        flex-direction: column;
        justify-content: start;
    }

    .auth-content {
        display: flex;
        width: 100%;
        flex-direction: column;
        justify-content: start;
    }

    .auth-left-column, .auth-buttons-wrapper {
        order: 2;
        max-width: 100%;
    }

    .auth-background {
        margin-top: 64px;
        object-fit: contain;
        object-position: center;
        align-self: center;
        align-items: center;
        max-width: 100%;
        aspect-ratio: 2.8;

    }



    .auth-right-column {
        order: 1;
        display: flex;
        width: 100%;
        flex-direction: column;
        justify-content: start;
        margin: 0 auto;
    }


    .auth-title {
        color: rgba(0, 0, 0, 1);
        font-size: 32px;
        font-weight: 700;
        line-height: 48px;
        white-space: normal;
    }

    .auth-description {
        color: rgba(136, 142, 149, 1);
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        margin-top: 32px;
    }


    /* section 3 end */


    /* section 4 start */

    .visually-hidden {
        position: absolute;
        width: 1px;
        height: 1px;
        padding: 0;
        margin: -1px;
        overflow: hidden;
        clip: rect(0, 0, 0, 0);
        border: 0;
    }

    .payment-section {
        display: flex;
        min-width: 375px;
        flex-direction: column;
        align-items: center;
        font-family: Pretendard, sans-serif;
        justify-content: start;
        margin: 0 auto;
        padding: 180px 16px;
    }

    .payment-container {
        display: flex;
        margin: 10px 0 0;
        width: 100%;
        flex-direction: column;
        justify-content: start;
        gap:64px;
    }

    .payment-content {
        display: flex;
        width: 100%;
        flex-direction: column;
        justify-content: start;
    }

    .payment-label {
        color: rgba(255, 85, 32, 1);
        font-size: 16px;
        font-weight: 600;
        align-self: stretch;
    }

    .payment-title {
        color: rgba(0, 0, 0, 1);
        font-size: 32px;
        font-weight: 700;
        line-height: 48px;
        align-self: stretch;
    }

    .payment-description {
        color: rgba(136, 142, 149, 1);
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        margin: 26px 0 0;
        align-self: stretch;
    }

    .payment-image {
        object-fit: contain;
        object-position: center;
        align-self: center;
        align-items: center;
        max-width: 80%;
        aspect-ratio: 1.8;
    }

    /* section 4 end */

    /* section 5 start */
    .services-container {
        display: flex;
        max-width: 375px;
        width: 100%;
        flex-direction: column;
        justify-content: start;
        margin: 0 auto;
        padding: 225px 16px;
    }

    .header-content {
        display: flex;
        max-width: 100%;
        flex-direction: column;
        align-items: center;
        font: 700 32px/48px Pretendard, sans-serif;
        text-align: center;
        align-self: center;
        justify-content: center;

    }

    .services-title {
        color: #000;
        width: 277px;
        font: 700 32px Pretendard, sans-serif;
        line-height: 48px;
        text-align: center;
        white-space: normal;
        /* 기본 줄바꿈 허용 */
        overflow-wrap: break-word;
        /* 넘칠 경우 줄바꿈 */
        max-width: 100%;

    }

    .services-subtitle {
        color: #888E95;
        font: 400 16px Pretendard, sans-serif;
        margin-top: 9px;
    }

    .feature-grid {
        display: flex;
        margin-top: 64px;
        width: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .feature-card {
        border-radius: 16px;
        background-color: #F3F3F3;
        display: flex;
        min-height: 284px;
        width: 361px;
        max-width: 100%;
        align-items: center;
        color: #000;
        text-align: center;
        font: 600 23px Pretendard, sans-serif;
        margin-top: 32px;
    }

    .service-card:first-child {
        margin-top: 0;
    }

    .feature-card {
        padding: 50px 93px;
    }

    .feature-content {
        align-self: stretch;
        display: flex;
        min-height: 185px;
        width: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: auto 0;
    }

    .apps-services {
        padding: 47px 80px;
        flex-direction: column;
    }

    .app-content {
        display: flex;
        margin-top: 8px;
        min-height: 155px;
        width: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        row-gap: 20px;
    }

    .payment-card {
        padding: 50px 84px;
        flex-direction: column;
    }

    .payment-content {
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .feature-title1,
    .feature-title2,
    .feature-title3,
    .feature-title4 {
        color: #000;
        text-align: center;
        align-items: center;
        font: 600 24px Pretendard, sans-serif;
        white-space: nowrap;
        align-self: center;
    }

    .feature-image1 {
        aspect-ratio: 1.01;
        object-fit: contain;
        object-position: center;
        width: 123px;
        margin-top: 32px;
        max-width: 100%;
    }

    .feature-image2 {
        aspect-ratio: 2.11;
        object-fit: contain;
        object-position: center;
        width: 100%;
    }

    .feature-image3 {
        aspect-ratio: 3.7;
        object-fit: contain;
        object-position: center;
        width: 100%;
    }

    .feature-image4 {
        aspect-ratio: 1.38;
        object-fit: contain;
        object-position: center;
        width: 100%;
        margin-top: 32px;
    }

    /* section 5 end */


    /* section 6 start */
    .blockpay-container {
        background-color: rgba(255, 85, 32, 1);
        display: flex;
        min-width: 375px;
        max-width: 100%;
        flex-direction: column;
        font-family: Pretendard, sans-serif;
        color: rgba(255, 255, 255, 1);
        justify-content: center;
        margin: 0 auto;
        height: 614px;
    }

    .blockpay-content-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 100%;
        font: 700 32px/48px Pretendard, sans-serif;
        text-align: center;
    }

    .blockpay-subtitle {
        font-size: 16px;
        font-weight: 500;
    }

    .blockpay-main-title {
        color: #F3F3F3;
        font: 700 24px Pretendard, sans-serif;
        line-height: 36px;
        text-align: center;
        white-space: normal;
        /* 기본 줄바꿈 허용 */
        overflow-wrap: break-word;
        max-width: 100%;
        margin-top: 0px;
    }

    .blockpay-hero-image {
        aspect-ratio: 1.4;
        object-fit: contain;
        object-position: center;
        width: 294px;
        align-self: center;
        margin-top: 64px;
        max-width: 100%;
    }

    /* section 6 end */


}
