

/* 테블릿 세로(해상도 768px ~ 1023px) */
@media screen and (min-width: 768px) and (max-width: 1024px),
screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  /* 스타일을 여기 추가 */

  /* main intro start */
  .hero-section {
    display: flex;
    max-width: 834px;
    align-items: center;
    gap: 40px 86px;
    width: 834px;
    justify-content: center;
    margin: 0 auto;
    padding: 0 85px;
    margin-bottom: 96px;
    height: auto;
  }

  .hero-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /* 위에서부터 정렬 */
    margin-top: 126px;
    flex: 1;
  }

  .hero-title {
    display: flex;
    width: 100%;
    flex-direction: column;
    font-family: Pretendard, sans-serif;
    justify-content: start;
  }

  .hero-title {
    color: rgb(255, 85, 32);
    font: 700 28px/39px Pretendard, sans-serif;
    text-transform: uppercase;
  }

  .hero-description {
    color: rgb(136, 142, 149);
    font: 500 16px/24px Pretendard, sans-serif;
    margin-top: 32px;
  }

  .download-buttons {
    display: flex;
    align-items: center;
    gap: 12px;
    justify-content: start;
    margin-top: 0px;
  }

  .store-button {
    border-radius: 5px;
    background-color: #464E61;
    display: flex;
    align-items: center;
    gap: 4px;
    justify-content: center;
    padding: 8px 16px;
    cursor: pointer;
  }

  .store-icon {
    aspect-ratio: 0.92;
    object-fit: contain;
    object-position: center;
    width: 12px;
  }

  .store-icon-wrapper {
    display: flex;
    min-height: 16px;
    align-items: center;
    width: 16px;
    padding: 2px;
  }

  .store-text {
    color: #FFF;
    text-align: center;
    font: 600 9px Pretendard, sans-serif;
  }
}

.hero-image {
  object-fit: contain;
  object-position: center;
  width: 300px;
  /* 이미지 크기 조정 */
  align-self: flex-start;
  /* 이미지도 위쪽에 정렬 */
  margin-top: 126px;
}

/* main intro end */

/* section 1 start */

.features-section {
  display: flex;
  max-width: 834px;
  align-items: center;
  gap: 40px 86px;
  width: 834px;
  justify-content: center;
  margin: 0 auto;
  padding: 0 85px;
  margin-bottom: 96px;
}

.features-container {
  display: flex;
  max-width: 100%;
  align-items: center;
  gap: 40px 80px;
  justify-content: space-between;
  flex-wrap: nowrap;
}

.image-container {
  aspect-ratio: 0.5;
  object-fit: cover;
  object-position: center;
  width: 165px;
  align-self: stretch;
  min-height: 330px;
  align-items: center;
  gap: 8px;
  justify-content: start;
  margin: auto 0;
  padding: 10px 8px;
}

.content-wrapper {
  align-self: stretch;
  display: flex;
  min-width: 240px;
  flex-direction: column;
  font-family: Pretendard, sans-serif;
  justify-content: start;
  margin: auto 0;
}

.feature-title {
  color: rgba(0, 0, 0, 1);
  font-size: 28px;
  font-weight: 700;
  line-height: 42px;
  white-space: nowrap;
}

.feature-description {
  color: rgba(136, 142, 149, 1);
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  margin-top: 52px;
  white-space: nowrap;
}


/* section 1 end */

/* section 2 start */
.passport-section {
  display: flex;
  max-width: 834px;
  align-items: center;
  gap: 40px 86px;
  width: 834px;
  justify-content: center;
  margin: 0 auto;
  padding: 0 72px;
  margin-bottom: 96px;
  max-width: 1200px;
}

.passport-container {
  display: flex;
  max-width: 100%;
  align-items: center;
  gap: 40px 100px;
  justify-content: space-between;
  flex-wrap: nowrap;
}

.content-container {
  align-self: stretch;
  display: flex;
  min-width: 240px;
  flex-direction: column;
  font-family: Pretendard, sans-serif;
  justify-content: center;
  flex-grow: 1;
  width: 324px;
  margin: auto 0;
}

.heading {
  color: rgba(0, 0, 0, 1);
  font-size: 28px;
  font-weight: 700;
  line-height: 42px;
  white-space: nowrap;
}

.description {
  color: rgba(136, 142, 149, 1);
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  margin-top: 32px;
  white-space: nowrap;
}

.privacy-image {
  aspect-ratio: 0.5;
  object-fit: cover;
  object-position: center;
  width: 164px;
  align-self: stretch;
  min-height: 329px;
  align-items: center;
  gap: 8px;
  justify-content: start;
  margin: auto 0;
  padding: 7px 8px;
}

.background-image {
  position: absolute;
  inset: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.passport-image {
  aspect-ratio: 0.47;
  object-fit: contain;
  object-position: center;
  align-self: stretch;
  margin: auto 0;
}


/* section 2 end */


/* section 3 start */
.payment-section {
  display: flex;
  max-width: 834px;
  align-items: center;
  gap: 40px 86px;
  justify-content: center;
  margin: 0 auto;
  padding: 0 72px;
  margin-bottom: 96px;
}

.payment-container {
  display: flex;
  width: 1200px;
  max-width: 100%;
  align-items: center;
  gap: 40px 100px;
  justify-content: space-between;
  flex-wrap: nowrap;
}

.payment-content-wrapper {
  justify-content: center;
}


.content-wrapper {
  align-self: stretch;
  display: flex;
  min-width: 240px;
  flex-direction: column;
  font-family: Pretendard, sans-serif;
  justify-content: start;
  flex-grow: 1;
  width: 266px;
  margin: auto 0;
}

.main-title {
  color: rgba(0, 0, 0, 1);
  font-size: 28px;
  font-weight: 700;
  line-height: 42px;
  white-space: nowrap;
}

.payment-description {
  color: rgba(136, 142, 149, 1);
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  margin-top: 32px;
  white-space: nowrap;
}

.image-section {
  border-radius: 0;
  align-self: stretch;
  display: flex;
  min-width: 240px;
  align-items: flex-start;
  gap: 21px;
  flex-grow: 1;
  width: 230px;
  margin: auto 0;
}

.privacy-image {
  aspect-ratio: 0.5;
  object-fit: contain;
  object-position: center;
  width: 133px;
  border-radius: 0;
  align-self: end;
  margin-top: 49px;
  max-width: 100%;
}

.image-wrapper {
  display: flex;
  flex-direction: column;
  align-self: start;
  position: relative;
  aspect-ratio: 0.496;
  justify-content: center;
  padding: 7px;
}

.background-image {
  position: absolute;
  inset: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.overlay-image {
  aspect-ratio: 0.46;
  object-fit: contain;
  object-position: center;
  width: 100%;
  border-radius: 15px;
}


/* sectioin 3 end */


/* section 4 start */
.travel-section {
  display: flex;
  max-width: 834px;
  align-items: center;
  gap: 40px 86px;
  justify-content: center;
  margin: 0 auto;
  padding: 0 72px;
  margin-bottom: 96px;
}

.travel-container {
  display: flex;
  width: 1200px;
  max-width: 100%;
  align-items: center;
  gap: 40px 100px;
  justify-content: space-between;
  flex-wrap: nowrap;
}


.travel-heading {
  color: rgba(0, 0, 0, 1);
  text-align: center;
  font: 700 28px/42px Pretendard, sans-serif;
}

.highlight-text {
  color: rgba(255, 85, 32, 1);
  font: 700 28px/42px Pretendard, sans-serif;
}

.travel-image {
  aspect-ratio: 1.78;
  object-fit: contain;
  object-position: center;
  margin-top: 64px;
  max-width: 100%;
}


/* section 4 end */


/* section 5 start */


.certificate-section {
  display: flex;
  max-width: 834px;
  align-items: center;
  gap: 40px 86px;
  justify-content: center;
  margin: 0 auto;
  padding: 0 72px;
  margin-bottom: 96px;
}

.certificate-wrapper {
  display: flex;
  width: 1200px;
  max-width: 100%;
  align-items: center;
  gap: 40px 100px;
  justify-content: space-between;
  flex-wrap: nowrap;
}

.certificate-text-content {
  display: flex;
  width: 100%;
  flex-direction: column;
  font-family: Pretendard, sans-serif;
  color: rgba(0, 0, 0, 1);
  text-align: center;
  justify-content: start;
}

.certificate-subtitle {
  font-size: 24px;
  font-weight: 400;
}

.certificate-title {
  font-size: 28px;
  font-weight: 700;
  line-height: 42px;
  align-self: center;
  margin: 4px 0 0;
}

.certificate-image-container {
  border-radius: 9px;
  align-self: center;
  display: flex;
  object-fit: cover;
  margin-top: 64px;
  max-width: 100%;
  gap: 20px;
  justify-content: center;
  flex-wrap: nowrap;
}

.certificate-image-left {
  aspect-ratio: 0.7;
  object-fit: contain;
  object-position: center;
  width: 230px;
  border-radius: 9px;
  box-shadow: 4px 2px 10px 2px rgba(0, 0, 0, 0.25);
  max-width: 100%;
  flex-grow: 1;
}

.certificate-image-right {
  aspect-ratio: 0.7;
  object-fit: contain;
  object-position: center;
  width: 230px;
  border-radius: 9px;
  box-shadow: 4px 2px 10px 2px rgba(0, 0, 0, 0.25);
  max-width: 100%;
  flex-grow: 1;
}

/* section 5 end */



/* section 6 start */

.earth-section {
  display: flex;
  padding: 87px 0 0;
  flex-direction: column;
  overflow: hidden;
  background-color: #60a5ff;
  margin: 0 auto;
}

.earth-content {
  position: relative;
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin: 0 auto;
}


.earth-image {
  aspect-ratio: 2.81;
  object-fit: cover;
  width: 130%;
  object-position: center bottom;
}

.earth-title {
  align-self: stretch;
  gap: 7px;
  left: 50%;
  width: 380px;
  transform: translateX(-50%);
  padding: 2px;
  font-size: 28px;
  font-weight: 700;
  line-height: 48px;
  text-align: center;
  white-space: normal;
  top: 20%;
  /* 상단에서 20% 위치에 배치 */
  position: relative;
  /* 부모 요소 내에서 위치를 조정 */
  margin-top: -150px;
  /* 위로 올리기 */
  /* 세부 미세 조정 */
}


/* section 6 end */



/* section 7 start */

.partners-section {
  display: flex;
  max-width: 1200px;
  flex-direction: column;
  align-items: center;
  color: rgba(0, 0, 0, 1);
  text-align: center;
  justify-content: center;
  margin: 0 auto;
  font: 700 28px/42px Pretendard, sans-serif;
}

.partners-image {
  aspect-ratio: 2.22;
  object-fit: contain;
  object-position: center;
  width: 710px;
  margin-top: 70px;
  max-width: 100%;
}

.partners-title {
  font-size: 28px;
  font-weight: 700;
  line-height: 42px;
  align-self: center;
  margin: 4px 0 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}


/* section 7 end */


/* section 8 start */
.info-app-container {
  display: flex;
  max-width: 1200px;
  flex-direction: column;
  align-items: center;
  color: rgba(0, 0, 0, 1);
  text-align: center;
  justify-content: center;
  margin: 0 auto;
  min-height: 570px;
}

.info-content-inner {
  display: flex;
  width: 450px;
  max-width: 100%;
  flex-direction: column;
  justify-content: center;
  align-self: stretch;
}

.info-content-wrapper {
  align-self: center;
  align-items: center;
  max-width: 100%;
  gap: 40px 50px;
  justify-content: column;
  width: 863px;
}

.info-logo {
  aspect-ratio: 3.09;
  object-fit: contain;
  object-position: center;
  width: 111px;
  max-width: 100%;
}

.info-hero-text {
  color: #000;
  align-self: stretch;
  margin: 24px 0;
  font: 700 28px/42px Pretendard, sans-serif;
  justify-content: start;
  text-align: left;
  /* 왼쪽 정렬 */
}

.info-highlight-text {
  color: #FF5520;
}

.info-download-buttons {
  display: flex;
  align-items: center;
  gap: 12px;
  justify-content: start;
  margin-top: 0px;
}

.info-store-button {
  border-radius: 5px;
  background-color: #464E61;
  display: flex;
  align-items: center;
  gap: 4px;
  justify-content: center;
  padding: 8px 16px;
  cursor: pointer;
}

.info-store-icon-wrapper {
  display: flex;
  min-height: 16px;
  align-items: center;
  width: 16px;
  padding: 2px;
}

.info-store-icon {
  aspect-ratio: 0.92;
  object-fit: contain;
  object-position: center;
  width: 12px;
}

.info-store-text {
  color: #FFF;
  text-align: center;
  font: 600 9px Pretendard, sans-serif;
}

.info-app-preview {
  aspect-ratio: 1;
  object-fit: contain;
  object-position: center;
  width: 262px;
  align-self: stretch;
  flex-grow: 1;
  margin: auto 0;
}


/*section 8 end */
