@media screen and (max-width: 480px) {

    .landing-container {
        max-width: 100%;
        padding: 12px 16px 0;
    }

    .header-nav {
        max-width: 100%;
        padding: 0 4px;
    }

    .menu-button {
        padding: 4px;
    }

    .menu-icon {
        width: 18px;
    }

    .logo {
        width: 65px;
    }

    .footer-divider {
        margin: 20px 0;
    }

    .footer-info {
        font-size: 9px;
        line-height: 14px;
    }


    .footer {
        padding: 40px 16px 100px;
    }

    .footer-content {
        max-width: 100%;
    }

    .footer-nav {
        flex-direction: column;
        gap: 20px;
    }

    .footer-links {
        gap: 16px;
    }

    .footer-link {
        font-size: 9px;
    }

    .social-links {
        gap: 8px;
    }

    .social-button {
        width: 20px;
        height: 20px;
    }

    .social-icon {
        width: 11px;
        height: 11px;
    }
}